@import '../../variables.scss';
#images{
  position: fixed;
  bottom:0;
  left: 0;
  overflow: auto;
  background: $ui_background;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: $toolbar_height;
  box-shadow: 0 0 4px 1px #000000;
  z-index: 10;
  ul {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: 10px 20px;
    }
  }
}
