@import './../../variables';
#toolbar {
  position: fixed;
  top:0;
  left: 0;
  background: $ui_background;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: $toolbar_height;
  box-shadow: 0 0 4px 1px #000000;
  z-index: 10;
  & > div {
    display: flex;
    & > div {
      display: flex;
      margin: 0 8px 0 0;
      .tool {
        background: $ui_elements_background;
        font-size: 30px;
        padding: 5px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .tool {
        border-right: solid 1px;
      }
      .tool:first-child {
        border-left: solid 1px;
      }
      .disabled {
        opacity: 0.5;
      }
      .active {

      }
    }
    .config {
      & > div {
        display: flex;
        align-items: center;
        padding: 0 10px;
        .rc-color-picker-trigger {
          width: 30px;
          height: 30px;
          margin-top: 4px;
        }

      }
    }
    .export {
      & > div {
        display: flex;
        align-items: center;
        padding: 6px 6px 6px 6px;
        border-left: solid 1px;
        border-right: solid 1px;
      }
    }
  }
}

.rc-color-picker {
  position: fixed !important;
}
