@import './../../variables';
#layersManager {
  overflow: auto;
  background: $ui_background;
  position: fixed;
  right: 0;
  top: $toolbar_height;
  height: 100%;
  width: 25%;
  min-width: 300px;
  box-shadow: 0 4px 4px 1px #000000;
  z-index: 10;

  & > .layer {
    background: $ui_elements_background;
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .btn-disabled {
      opacity: 0.3;
    }
    .options {
      width: 100%;
      justify-content: space-between;
      border-bottom: solid 1px;
      & > div {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        & > * {
          padding: 5px 10px;
        }
        &:first-child {
          & > * {
            border-right: solid 1px;
          }
        }
        &:last-child {
          & > * {
            border-left: solid 1px;
          }
        }
      }
    }
    .name {
      padding: 10px 10px;
      width: 100%;
    }
    & > div {
      height: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}
