@import '../../variables.scss';
#canvasBox{
  position: relative;
  margin: $toolbar_height + 30px 40px 0;
  svg {
    box-shadow: 0 0 8px 8px  #ccc;
  }
  #previewCanvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }
}
