@import './variables.scss';
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: $canvas_background;

  .clickable {
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
  }

  .btn-active {
    box-shadow: inset 0 0 8px 4px $ui_background;
  }

  .btn-disabled {
    opacity: 0.5;
  }

  .draggable {
    cursor: move;
  }

  .fill_color {
    cursor: url("./Images/Icon/fill_color.png"), auto;
  }
  
  .text {
    cursor: text;
  }

  * {
    box-sizing: border-box;
  }
}
